
<div>
    <form class="new-user form-control" novalidate>

        <div class="input-group">
            <span class="input-group-addon" id="user-addon">
                          <a href="#" id="user-link" class="glyphicon glyphicon-search"></a>
            </span>
            <input type="text" class="form-control" placeholder="Display name" aria-describedby="user-addon">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="email-addon">
                          <a href="#" id="email-link" class="glyphicon glyphicon-search"></a>
            </span>
            <input type="email" class="form-control" placeholder="Email" aria-describedby="email-addon">
        </div>
        <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
        </div>
        <button>Sign me up</button>
    </form>
</div>
