<html>
<head>

</head>
<body>
<div>
    <form class="sign-up form-control" novalidate>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        </div>

    </form>
</div>
</body>
</html>